.landing__wrapper {
  width: 100%;
}

.projects__wrapper,
.roadmap__wrapper,
.hero__wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px var(--container-padding);
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.presentation p {
  color: var(--pale-orange);
}

.presentation p:last-of-type {
  font-size: 14px;
}

.hero__wrapper {
  background-color: #64a675;
  gap: 56px;
}

.projects__wrapper,
.roadmap__wrapper {
  gap: 40px;
}

.projects__wrapper h2 {
  font-size: 48px;
  text-align: center;
}

.landing__title {
  font-size: 72px;
  line-height: 78px;
  color: var(--pale-orange);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 1 0;
}

.img__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 0;
}

.img__wrapper img {
  object-fit: cover;
  border-radius: 16px;
}

.img__wrapper:hover img {
  object-fit: none;
}

@media (min-width: 768px) {
  .hero__wrapper {
    flex-direction: row;
    align-items: center;
  }

  .landing__title {
    font-size: 68px;
  }
}

@media (min-width: 1200px) {
  .presentation {
    width: 90%;
  }

  .img__wrapper img {
    height: 550px;
  }
}

@media (min-width: 1440px) {
  .hero__wrapper {
    gap: 132px;
  }

  .img__wrapper img {
    height: 750px;
  }
}

@media (min-width: 1700px) {
  .hero {
    width: 740px;
  }
}

.roadmap__card section ul,
.cards__wrapper,
.roadmap__card section,
.roadmap__card header,
.roadmap__card {
  display: flex;
  flex-direction: column;
}

.cards__wrapper {
  gap: 16px;
}

.roadmap__card {
  min-width: 340px;
  gap: 54px;
  border-radius: 8px;
  padding: 24px 0;
  box-shadow: -1px 3px 14px 3px rgba(0, 0, 0, 0.22);
}

.roadmap__card:first-child {
  background: linear-gradient(135deg, #64a675, #9cd5b7, #6eb1da);
}

.roadmap__card:nth-child(2) {
  background: linear-gradient(135deg, #64a675, #7dc4d3, #63acda);
}

.roadmap__card:last-child {
  background: linear-gradient(135deg, #80d2a6, #65aedb, #44556d);
}

.roadmap__card:hover {
  transform: scale(1.1);
}

.roadmap__card section ul,
.roadmap__card section,
.roadmap__card header {
  align-items: center;
}

.roadmap__card header {
  gap: 16px;
  height: 86px;
}

.roadmap__card header h3 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.8px;
  opacity: 0.9;
  text-transform: uppercase;
}

.roadmap__card header p {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  font-weight: 800;
  opacity: 0.9;
  color: var(--white);
}

.roadmap__card section ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  width: 80%;
}

.roadmap__card section ul li:first-child {
  border-top: 1px solid var(--pale-orange);
}

.roadmap__card section ul li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--pale-orange);
  width: 100%;
  padding: 10px 0;
}

@media (min-width: 768px) {
  .cards__wrapper {
    flex-direction: row;
    gap: 36px;
  }
}

@media (min-width: 1200px) {
  .roadmap__wrapper {
    padding: 80px 160px;
  }

  .roadmap__card {
    min-width: 280px;
  }
}

@media (min-width: 1440px) {
  .cards__wrapper {
    gap: 80px;
  }

  .roadmap__wrapper {
    padding: 160px 266px;
  }

  .projects__wrapper {
    gap: 56px;
  }
  .cards__wrapper {
    gap: 74px;
  }

  .roadmap__card {
    padding: 54px 0;
    min-width: 326px;
  }

  .roadmap__card header {
    height: 96px;
    gap: 18px;
  }

  .roadmap__card header p {
    font-size: 42px;
  }

  .roadmap__card section ul li {
    padding: 16px 0;
  }
}

@media (min-width: 1680px) {
  .cards__wrapper {
    gap: 74px;
  }
}

.exercises__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 8px;
  padding: 24px;
  box-shadow: -1px 3px 14px 3px rgba(0, 0, 0, 0.22);
}
