.page__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 56px var(--container-padding);
  height: 100vh;
  align-items: flex-start;
  gap: 48px;
}

.page__title {
  width: 100%;
  display: flex;
  font-size: 42px;
}

.projects__preview {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.thumbnail {
  width: 100%;
  height: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 8px;
  min-width: 348px;
}

.card h2 {
  font-size: 28px;
  padding: 16px 24px;
}

@media (min-width: 768px) {
  .projects__preview {
    flex-wrap: wrap;
  }
  .thumbnail {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .projects__preview {
    flex-direction: row;
  }

  .thumbnail {
    height: auto;
  }

  .card {
    max-width: 416px;
    min-width: 374px;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .projects__preview {
    gap: 48px;
  }

  .card {
    max-width: 616px;
  }
}

@media (min-width: 1680px) {
  .projects__preview {
    gap: 72px;
  }

  .card {
    max-width: 684px;
  }
}

@media (min-width: 2560px) {
  .card {
    max-width: 406px;
  }
}
