.header__wrapper {
  height: var(--header-height);
  padding: 32px var(--container-padding);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
}

.header {
  display: flex;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  justify-content: space-between;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.logotype a {
  text-decoration: none;
  color: var(--color-text);
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

nav li a {
  color: var(--color-text);
  text-decoration: none;
}

nav li a:hover {
  color: rgba(94, 103, 228, 0.979);
}

.actions {
  display: flex;
  width: 100%;
}

.action__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.header__button {
  background-color: transparent;
  padding: 0;
  color: var(--color-text);
}

.header__button:focus {
  outline: none;
}

.cart__popover {
  position: relative;
}

.cart__wrapper {
  min-width: 392px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  padding: 16px;
  position: absolute;
  transform: translate(-176px, 14px);
  z-index: 1;
  background-color: #fff;
}

.popover__title {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 16px;
}

.cart__content,
.product__details,
.cart__price {
  display: flex;
  gap: 8px;
}

.cart__content {
  padding: 24px 0;
  align-items: center;
}

.product__details {
  flex-direction: column;
}

.cart__price p:last-of-type {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.remove {
  justify-content: flex-end;
}

.remove button {
  background-color: transparent;
}

.remove button:focus {
  outline: none;
}

.cart__thumbnail {
  width: 56px;
  height: 56px;
  border-radius: 8px;
}

.cart__button button,
.cart__button {
  width: 100%;
}

.cart__button button {
  background-color: var(--orange);
}
