.header__wrapper {
  height: var(--header-height);
  padding: 32px var(--container-padding);
  width: 100%;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  width: 100%;
  color: var(--color-text);
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
  font-size: 32px;
}

.logotype a {
  text-decoration: none;
  color: var(--color-text);
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

nav li a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
}

nav li a:hover {
  color: rgb(69 86 198);
}

.action__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.header__button {
  background-color: transparent;
  padding: 0;
  color: var(--color-text);
}

.header__button:focus {
  outline: none;
}

.theme__button {
  width: 32px;
  height: 32px;
}

@media (min-width: 1200px) {
  .logotype {
    font-size: 34px;
  }
}
