.header__wrapper {
  height: var(--header-height);
  padding: 32px var(--container-padding);
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-bg);
}

.header {
  display: flex;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  justify-content: space-between;
}

.logotype {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.logotype a {
  text-decoration: none;
  color: var(--color-text);
}

nav {
  display: flex;
  width: 100%;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

nav li a {
  color: var(--color-text);
  text-decoration: none;
}

nav li a:hover {
  color: rgba(94, 103, 228, 0.979);
}

.action__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.header__button {
  background-color: transparent;
  padding: 0;
  color: var(--color-text);
}

.header__button:focus {
  outline: none;
}

.theme__button {
  width: 32px;
  height: 32px;
}
