.lightbox {
  z-index: 1;
  position: fixed;
  top: 0;
  background-color: rgba(14, 14, 14, 0.65);
  width: 100vw;
  height: 100vh;
}

.lightbox__wrapper {
  position: absolute;
  top: 450px;
  margin-inline: auto;
  left: 0;
  right: 0;
  width: fit-content;
}

.carousel__wrapper .ligthbox__image {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.ligthbox__close {
  display: flex;
  justify-content: flex-end;
}

.ligthbox__close button {
  color: var(--orange);
  background-color: transparent;
}

.lightbox__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lightbox__controls button {
  position: absolute;
  color: var(--orange);
  background-color: var(--pure-white);
  border-radius: 50%;
  padding: 10px;
  top: 40%;
}

.lightbox__controls button:first-of-type {
  left: 14px;
}

.lightbox__controls button:last-of-type {
  right: 14px;
}

@media (min-width: 768px) {
  .lightbox {
    left: 0;
    right: 0;
  }

  .lightbox__wrapper {
    /* 334px */
    top: 26%;
  }
  .lightbox__controls {
    margin: 0 auto;
    width: 90%;
    top: 24px;
  }

  .lightbox__controls button:first-of-type {
    left: -26px;
  }

  .lightbox__controls button:last-of-type {
    right: -26px;
  }
}

@media (min-width: 768px) {
  .lightbox__wrapper {
    top: 37%;
  }
}

@media (min-width: 1200px) {
  .lightbox__wrapper {
    top: 10%;
  }
}
