.quote__wrapper,
.quote,
.concepts,
.sides,
.title {
  display: flex;
  flex-direction: column;
}

.quote__wrapper {
  gap: 68px;
}

.quote {
  gap: 32px;
  background-color: #fefaf8c4;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 2px 7px 26px 4px rgba(0, 0, 0, 0.21);
}

.tags {
  display: flex;
  gap: 8px;
}

.concepts,
.wrapper article {
  gap: 8px;
}

.sides {
  gap: 24px;
}

.side__items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.info {
  gap: 16px;
}

.info,
.sides {
  flex: 1 0 0;
}

.info > p {
  border-left: 4px solid #dbc3fc;
  padding-left: 16px;
}

@media (min-width: 1024px) {
  .quote {
    gap: 80px;
    padding: 32px;
    flex-direction: row;
  }

  .sides {
    justify-content: center;
  }

  .sides,
  .sides article {
    align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .quote {
    gap: 120px;
    padding: 56px;
  }

  .quote h2 {
    font-size: 32px;
  }

  .info {
    gap: 24px;
  }
}
