.input__wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-text);
}

.input__wrapper input {
  border-radius: 8px;
  height: 32px;
}

.inputError:focus {
  outline-color: #d84301;
}
