.title {
  color: var(--gray);
}

.page__wrapper {
  height: 100vh;
  width: 100%;
}

@media (min-width: 1200px) {
  .page__wrapper {
    display: flex;
    flex-direction: row;
    padding: 56px var(--container-padding);
    gap: 126px;
    align-items: flex-start;
  }
}
