.project__wrapper {
  width: 100%;
  height: 100%;
  padding: var(--container-padding);
  background: linear-gradient(
    48deg,
    rgba(249, 250, 251, 0.5) 18.01%,
    #f7dfe1 33.2%,
    #f2dbe4 42.34%,
    #eed5e7 58.78%,
    #f7dfe1 68.26%,
    rgba(249, 250, 251, 0.5) 80.43%
  );
  height: 100vh;
}

.project {
  gap: 32px;
  border-radius: 16px;
  background: #f9fafb;
  box-shadow: 0px 4px 3.7px 0px rgba(0, 0, 0, 0.3);
  padding: 40px 0px;
}

.project__wrapper h1 {
  padding-bottom: 40px;
  text-align: center;
}

.document__card,
.document__related,
.document__info,
.results__wrapper,
.project,
.document__details,
.document__wrapper {
  display: flex;
  flex-direction: column;
}

.results__wrapper,
.search__wrapper {
  border-radius: 12px;
  width: 100%;
}

.results__wrapper {
  padding: 0 16px;
}

.search__wrapper {
  padding: 20px 32px;
}

.borrow__info,
.search__wrapper > div {
  display: flex;
  gap: 16px;
}

.document__info {
  gap: 8px;
}

.document__related {
  gap: 24px;
}

.document__card {
  border-bottom: 2px solid #e3e6ec;
  background: #fff;
  padding: 48px 24px;
}

.document__wrapper {
  gap: 26px;
}

.document__wrapper:last-of-type {
  border-bottom: none;
}

.document__details {
  gap: 18px;
}

.document__info--item span:first-of-type {
  font-weight: 600;
}

.search__wrapper label {
  display: none;
}

.search__wrapper input[type='search'] {
  width: 100%;
  border: 2px solid #ced4db;
  border-radius: 14px;
  height: 52px;
  padding: 0 16px;
  position: relative;
}

/* .search__wrapper button {
  outline: 2px solid rgba(94, 103, 228, 0.979);
} */

.search__wrapper button:focus,
.search__wrapper input[type='search']:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.document__image {
  min-width: 232px;
}

.document__image img {
  width: 100%;
}

.document__intro {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.document__sentence {
  font-style: italic;
}

.details__title {
  display: inline-block;
  font-size: 26px;
  line-height: 38px;
}

.subject,
.document__language {
  text-transform: capitalize;
}

.subject {
  text-decoration: none;
}

.related__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.related__list li {
  display: inline;
}

.borrow {
  width: fit-content;
}

.borrow.reading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.borrow p {
  color: #640d00;
  font-size: 18px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 18px;
}

.borrow .borrowable {
  background-color: #c7fee5;
}

.borrow .public {
  background-color: #fef0c7;
}

.borrow .info {
  background-color: #f2f4f7;
}

.borrow .no__ebook {
  background-color: #fec9c7;
}

.borrow__info {
  border-top: 2px solid #e3e6ec;
  padding: 24px 0;
  justify-content: space-between;
}

.info {
  width: fit-content;
}

@media (min-width: 768px) {
  .project {
    padding: 40px 26px;
  }
  .details__title {
    display: inline;
  }
}

@media (min-width: 1024px) {
  .results__wrapper {
    padding: 0 26px;
  }

  .document__wrapper {
    gap: 32px;
    padding: 48px 24px;
    flex-direction: row;
  }
}

.open__content {
  display: flex;
  align-items: center;
}

.open__content button {
  background-color: transparent;
  padding: 0 8px;
}

@media (min-width: 1200px) {
  .document__wrapper {
    flex: 1 1 0;
    gap: 16px;
  }

  .document__card {
    flex-direction: row;
    align-items: flex-start;
  }

  .document__intro {
    flex-direction: row;
    align-items: baseline;
  }

  .document__details {
    width: 100%;
  }

  .borrow {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    flex: 1 1 0;
  }

  .borrow__info {
    flex-direction: column;
    border-top: none;
    border-left: 2px solid #e3e6ec;
    padding: 24px;
    gap: 26px;
  }

  .document__image {
    min-width: 128px;
  }
}

@media (min-width: 1440px) {
  .document__wrapper {
    gap: 32px;
    padding: 48px 48px 48px 24px;
  }

  .document__image {
    min-width: 226px;
  }

  .borrow__info {
    padding: 48px 24px 16px 40px;
  }
}
