:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --container-width: 360px;
  --site-spacing: 32px;
  --header-height: 8rem;

  color-scheme: light dark;

  --light-bg: var(--pure-white);
  --light-color: var(--black);

  --dark-bg: var(--black);
  --dark-color: var(--pure-white);

  --black: #0e0e0efa;
  --pure-white: rgba(255, 255, 255, 0.87);
  --white: var(--pale-orange);
  --gray: rgba(192, 190, 190, 0.367);
  --dark-gray: rgb(45 44 44 / 63%);
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --light-gray: hsl(220, 14%, 75%);

  --color-text: light-dark(var(--light-color), var(--dark-color));
  --bg-color: light-dark(var(--light-bg), var(--dark-bg));
}

body {
  font-size: 16px;
  box-sizing: border-box;
  color: light-dark(var(--light-color), var(--dark-color));
  background-color: light-dark(var(--light-bg), var(--dark-bg));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: var(--color-text);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
}

a:hover,
button:hover,
button:hover span {
  color: rgba(94, 103, 228, 0.979);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

@media (min-width: 360px) {
  :root {
    --container-width: 360px;
    --container-padding: 24px;
  }
}

@media (min-width: 768px) {
  :root {
    --container-width: 768px;
    --container-padding: 40px;
  }
}

@media (min-width: 1024px) {
  :root {
    --container-width: 1024px;
    --container-padding: 80px;
  }
}

@media (min-width: 1200px) {
  :root {
    --container-width: 1200px;
    --container-padding: 80px;
  }
}

@media (min-width: 1366px) {
  :root {
    --container-width: 1200px;
    --container-padding: 80px;
  }
}

@media (min-width: 1440px) {
  :root {
    --container-width: 1200px;
    --container-padding: 80px;
  }
}

@media (min-width: 1552px) {
  :root {
    --container-width: 1440px;
    --container-padding: 80px;
  }
}

@media (min-width: 1680px) {
  :root {
    --container-width: 1680px;
    --container-padding: 120px;
  }
}

@media (min-width: 1920px) {
  :root {
    --container-width: 1440px;
    --container-padding: 240px;
  }
}

@media (min-width: 2560px) {
  :root {
    --container-width: 1920px;
    --container-padding: 360px;
  }
}
