.wrapper {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
}

.backdrop {
  position: absolute;
  inset: 0;
  background: hsl(0deg 0% 0% / 0.75);
}

.dialog {
  position: relative;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  width: 340px;
  max-width: 100vw;
}

.dialog h2 {
  padding-bottom: 32px;
}

.close__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  color: white;
  transform: translateY(-100%);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.add__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add__form input {
  border: 1px solid var(--black);
}

.text textarea {
  border: 1px solid var(--black);
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
}

.error {
  border-color: red;
}

@media (min-width: 768px) {
  .dialog {
    width: 680px;
  }
}
