.add__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text textarea {
  border-radius: 8px;
  border: none;
  padding: 8px;
  font-size: 14px;
}
