.wrapper {
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  line-height: 24px;

  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

.childrenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color-text);
}
