.description {
  display: flex;
  width: 100%;
  gap: 46px;
}

.description > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.close__wrapper {
  display: none;
  padding: 0;
  border: none;
}

.project__content {
  padding: 24px var(--container-padding);
}

.product__description,
.learnings,
.learnings__wrapper,
.requirements__wrapper,
.requirements__wrapper > ul,
.content__wrapper,
.about,
.project__content {
  display: flex;
  flex-direction: column;
}

.learning__tags {
  display: flex;
  flex-wrap: wrap;
}

.content__wrapper {
  background: var(--pale-orange);
  padding: 40px;
  border-radius: 8px;
  justify-content: space-between;
}

.learnings__wrapper {
  max-width: 360px;
}

.github,
.skills,
.learning__tags {
  display: flex;
}

.skills {
  align-items: center;
}

.learnings__wrapper {
  gap: 32px;
}

.project__content,
.about {
  gap: 40px;
}

.skills,
.requirements__wrapper > ul,
.learning__tags,
.learnings,
.requirements__wrapper {
  gap: 8px;
}

.content__wrapper h2,
.content__wrapper h3,
.content__wrapper p {
  color: var(--black);
}

.product__description,
.project__content {
  gap: 16px;
}

.content__wrapper {
  gap: 24px;
}

.project__content > h2 {
  font-size: 40px;
}

.learnings h2 {
  font-size: 16px;
  line-height: 24px;
}

.learnings__wrapper h3 {
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.learning__tags p {
  display: inline-flex;
  background-color: var(--black);
  color: var(--pale-orange);
  padding: 4px 8px;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-size: 12px;
}

.github {
  gap: 8px;
  align-items: center;
  text-decoration-color: var(--black);
}

.github img {
  display: block;
  height: 20px;
}

.github p {
  color: var(--black);
}

.github:hover,
.github:hover p {
  text-decoration-color: rgb(69 86 198);
  color: rgb(69 86 198);
}

@media (min-width: 1200px) {
  .description {
    justify-content: space-between;
    align-items: center;
  }
  .description > p {
    width: 80%;
  }

  .close__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-orange);
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }

  .close__wrapper[data-state='open'] svg {
    transform: rotate(180deg);
  }

  .project__content {
    padding: 80px var(--container-padding);
  }

  .content__wrapper {
    flex-direction: row;
    gap: 80px;
  }

  .project__content > h2 {
    font-size: 74px;
  }

  .learnings__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 450px;
  }

  .learning__tags {
    flex-wrap: wrap;
    flex: 1 1 0;
  }
}
